* {
  font-family: helvetica;
}
.Header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); text-align: center;
}

h1 {
  color: White; font-size: 70px; font-weight: bold; text-align: center;
}
h2 {
  color: gray; font-size: 32px; font-weight: bold; text-align: center;
}

h3 {
  font-size: 23px; font-weight: bold; text-align: center;
}
h4 {color: white; font-size: 23px; font-weight: bold; background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); text-align: center;
}

p {
  font-size: 14px; text-align: center;
}

.header-btn {
  font-size: 18px; color: white; text-align: center;
}
.picture {text-align: center;
}
#footer {
  text-align: left; font-size: 11px; color: white; background-color: dimgray;
}
